<!DOCTYPE html>
  <head>
    <title>RPG - Stream Play</title>
    <link rel="stylesheet" href="./style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/player.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Start to Play</h1>
      <div class="dashboard">
        <div class="dm-screen">
          <span>DM</span>
        </div>
        <div id="gallery" class="gallery"></div>
      </div>
    </div>
    <script>
      let players = [
        { name: 'harry', life: 100, mana: 100 },
        { name: 'diego', life: 100, mana: 100 }
      ]

      players = players.map((player) => {
        return new Player(player)
      })

      players.forEach((player) => {
        player.createHUD()
        player.getLife()
        player.getMana()
      })
    </script>
  </body>
</html