<!DOCTYPE html>
  <head>
    <title>RPG - Stream Play</title>
    <link rel="stylesheet" href="./style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/game.js"></script>
    <script src="js/player.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Start to Play</h1>
      <div class="dashboard">
        <div class="dm-screen">
          <div id="dice">
            <button type="button" id="rollDice">Roll dice</button>
          </div>
        </div>
        <div id="gallery" class="gallery">
          <form id="form">
            <div class="field">
              <label for="life">HP</label>
              <input name="life" />
            </div>
            <div class="field">
              <label for="mana">Spells Slots</label>
              <input name="mana" />
            </div>
            <button type="submit" id="submit">Salvar</button>
          </form>
        </div>
      </div>
      <footer id="secret-challenge" class="secret-challenge">
        <button id="secretButton">Rolar o d20</button>
      </footer>
    </div>
    <script>
      const name = document.location.pathname.split('-')[1]
      const socket = io("http://localhost:5000");
      let player = {};

      fetch(`http://localhost:5000/player-info/${name}`)
      .then((res) => res.json())
      .then((res) => {
        const { data } = res;
        player = new Player({ ...data.player[0] })
        player.createCharacterForm()
        player.getSecretChallenge()
      })
      
      const form = document.getElementById('form');
      
      form.addEventListener('submit', function(e) {
        e.preventDefault();
        player.setLife()
        player.setMana()
      });

      const game = new Game() 
      const rollDiceBtn = document.getElementById('rollDice')
      rollDiceBtn.onclick = game.rollDice

      const secretButton = document.getElementById('secretButton')
      secretButton.addEventListener('click', () => {
        const rollValue = game.rollSecretDice()
        socket.emit('secret-challenge-response', { value: rollValue })
      })

    </script>
  </body>
</html