html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.container {
  width: 1140px;
  height: 638px;
  display: flex;
  flex-direction: column;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(170, 166, 148,1);
}

.dm-screen {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
}

.dm-cam {
  width: 100%;
  height: 50%;
  border-radius: 12px;
  border: 2px solid #a2a2a2;
  background-color: #090809;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
}

.gallery {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1.7rem 0;
}

.player {
  width: 24%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-container {
  border: 2px solid #a2a2a2;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
  width: 90%;
}

.photo {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.life, .mana{
  --life-width: 100%;
  --mana-width: 100%;
  position: relative;
  height: 10%;
  width: 100%;
}

.life::before, .mana::before {
  position: absolute;
  content: "";
  color: white;
  font-size: 12px;
  text-align: center;
  transition: width 1s ease-in-out;
  width: var(--life-width);
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.68);
}

.mana::before {
  background-color: rgba(0, 0, 255, 0.75);
  width: var(--mana-width);
  content: "";
}

.field {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 1rem;
}

@keyframes showMessage {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes hideMessage {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100px;
  }
}

.secret-challenge {
  --display-footer: none;
  --animation-name: showMessage;
  display: var(--display-footer);
  position: fixed;
  animation: var(--animation-name) 1s ease-in-out forwards;
  -webkit-animation: var(--animation-name) 1s ease-in-out forwards;
  padding: 2rem;
  width: 100%;
  background-color: red;
}

.secret-response {
  --background-response: 'red';
  background-color: var(--background-response)
}